.footer {
  display: flex;
  background: #2f303a;
  height: 251px;
  width: auto;
}

.footer__logo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 60px;
  padding-bottom: 28px;
  padding-left: 215px;
}

.footer__address {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 215px;
  padding-bottom: 12px;
}

.footer__contacts {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  padding-left: 215px;
  padding-bottom: 12px;
}

.footer__social {
  display: flex;
  gap: 93px;
  padding-top: 75px;
  padding-left: 94px;
}

.footer__action-text {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer__social-media {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  &:hover {
    background: $accent-color;
    transition: var(--transition);
    cursor: pointer;
  }
}

.footer__social-media--icon {
  width: 20px;
  height: 20px;
}

.newsletter_form {
  display: inline-flex;
  gap: 12px;
}

.newsletter--input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
  color: #fff;
  &::placeholder {
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
