@use "../utils/variables";

.form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark;
  padding-top: 2px;
  margin: 0;
}

.form__block {
  position: relative;
  width: 448px;
  height: 342px;
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__field {
  position: relative;
  &:hover {
    fill: $accent-color;
    cursor: pointer;
  }
  &:focus {
    fill: $accent-color;
    cursor: pointer;
  }
}

.form__label {
  color: $light;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.form__input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  &:hover {
    cursor: pointer;
    border: 1px solid $accent-color;
  }
  &:focus {
    cursor: pointer;
    border: 1px solid $accent-color;
  }
}

.form__textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  resize: none;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover {
    border: 1px solid $accent-color;
    cursor: pointer;
  }
}

.form__svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 43%;
  left: 3%;
}

.form__agree-terms {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  &--text {
    padding-left: 8px;
    font-family: var(--text-font-family);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $light;
  }
}

.checked {
  margin-left: 52px;
  width: 16px;
  height: 15px;
  position: relative;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.form__agree-terms--link {
  color: $accent-color;
  text-decoration: underline;
}
