@use "../utils/variables";

.modal {
  position: absolute;
  width: 1600px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: transform var(--transition);
}

.modal-content {
  background: #fff;
  position: absolute;
  width: 528px;
  height: 581px;
  left: 536px;
  top: 221px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  transform: scale(1.1);
  visibility: hidden;
}

.modal-content__close-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  left: 490px;
  top: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='currentColor'%3E%3Cpath fill='%232196F3' d='M11 1.108 9.892 0 5.5 4.392 1.108 0 0 1.108 4.392 5.5 0 9.892 1.108 11 5.5 6.608 9.892 11 11 9.892 6.608 5.5 11 1.108Z'/%3E%3C/svg%3E");
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  content: "";
  fill: #2196f3;
}
