.our-team {
  background: #f5f4fa;
  width: 1600px;
  height: 708px;
  left: 0px;
  top: 1449px;
}

.people-our-team {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.people-our-team li {
  width: 270px;
  height: 428px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #212121;
  margin: 0%;
}

.job-description {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #757575;
  margin: 0%;
}

.sm-icons {
  display: flex;
  gap: 10px;
  position: absolute;
  padding-left: 32px;
}

.box-sm-team {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
}

.icon-sm {
  width: 20px;
  height: 20px;
  color: #757575;
}

.icon-sm:hover {
  color: #ffffff;
}
.box-sm-team:hover {
  background: #2196f3;
  border-radius: 50%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
