.what-we-do {
  width: 1170px;
  height: 386px;
  margin-left: 215px;
}

.section-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0%;
}

.what-we-do-img {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.what-we-do-img p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 27px;
}

.service {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.s1 {
  left: 215px;
  top: 1435px;
}

.s2 {
  left: 615px;
  top: 1435px;
}

.s3 {
  left: 1015px;
  top: 1435px;
}
